// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.form-upload{
  border: 1px solid #dbdbdb;
  height: auto;
  margin: auto 160px;
  padding: 30px;
  border-radius: 3px;
  input[type='text']{
    width: 100%;
  }
}

.profileStatistics {
   margin: 20px 50px 10px;
   display: flex;
   font-size: 15px;
  span{
    font-weight: 600;
  }
  li{
    display: inline;
    padding-right: 50px;
  }
}

.posts{
  margin: 20px 50px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;

  .post{
    border: 1px solid #efefef;
    margin: 10px 0;
    min-width: 555px;
    border-radius: 3px;
    .user{
      border-bottom: 1px solid #efefef;
      display: flex;
      .avatar{
        width: 30px;
        height: 30px;
        margin: 8px;
        img{
          width: 100%;
          height: 100%;
          border: 1px solid #efefef;
          border-radius: 50%;
        }
      }
      .username{
        padding-top: 13px;
        color: #262626;
        font-size: 14px;
        font-weight: 600;
        outline:none;
        text-decoration:none;
      }
    }
    .centeredFlex{
      display:flex;
      align-items: center;
      justify-content: center;
      padding: 10px 0px;
    }
    .main-image{
      min-width: 200px;
      max-width: 555px;
      min-height: 200px;
      max-height: 555px;
      border-bottom: 1px solid #f4f4f4;
    }
    .description{
      padding: 20px;
    }
  }
  .pagination{
    span{
      padding-right: 10px;
    }
  }
}

.post-show{
  margin: 30px 5px 0;
  border: 1px solid #dbdbdb;
  .col-md-8{
    padding: 0;
    .image{
      width: 100%;
    }
  }
  .user{
    display: flex;
    padding: 10px 0;
    border-bottom: 1px solid #efefef;
    .avatar{
      width: 40px;
      height: 40px;
      margin: 8px;
      img{
        width: 100%;
        height: 100%;
        border: 1px solid #efefef;
        border-radius: 50%;
      }
    }
    .username{
      padding-top: 15px;
      color: #262626;
      font-size: 14px;
      font-weight: 600;
      &:hover{
        text-decoration: none;
      }
    }
  }
  .description{
    padding: 15px 0;
  }
}